{% extends 'base.html' %}
{% load static %}
{% block title %}Safiyas-AboutUs{% endblock %}

{%block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            text-align: justify;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>


        <h1>Your Destination for Elegant Pakistani Suits</h1>


    <section>
        <h2>About Us</h2>
        <p>Welcome to Safiyas Couture, your go-to online store for exquisite Pakistani suits. At Safiyas Couture, we strive to bring you the latest and finest collection of Pakistani ethnic wear, curated with love and passion for fashion.</p>

        <p>Our journey began with a vision to showcase the timeless beauty of Pakistani suits, known for their rich embroidery, vibrant colors, and traditional craftsmanship. We believe that every piece of clothing tells a story, and our collection is a celebration of the rich cultural heritage of Pakistan.</p>

        <p>Quality and customer satisfaction are at the heart of our business. Each piece in our collection is carefully selected to ensure the highest standards of craftsmanship and design. Whether you're looking for a casual ensemble or a glamorous outfit for a special occasion, Safiyas Couture has something for everyone.</p>

        <p>Thank you for choosing Safiyas Couture for your Pakistani suit needs. We are dedicated to providing you with a seamless shopping experience, and we look forward to being a part of your style journey.</p>
    </section>



</body>
{% endblock %}
